
<div class=" content" style="background-color: lightgray !important">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card card-plain">
        <div class=" card-header">Google Maps</div>
        <div class=" card-body"><div class=" map" id="map"></div></div>
      </div>
    </div>
  </div>
  <!-- (ionChange)="updateSearchResults()"  -->
    
    <!-- <div>
    <mat-card class="searchBar">
      <input #searchInput id="place-id"  [(ngModel)]="autocomplete.input"  placeholder="Search for a place">
      <mat-list   [hidden]="autocompleteItems.length == 0">
        <mat-list-item class="list"  *ngFor="let item of autocompleteItems" tappable id="submit" (click)="selectSearchResult(item)">
           {{ item.description }}
        </mat-list-item>
       </mat-list>
      </mat-card>
  </div>  -->
</div>
