<div class="logo" style="background-color: #fd9c00">
  <a class="simple-text logo-mini">
  </a>
  <a  class="simple-text logo-normal" style="color:white; font-weight: bolder; font-size: 1.2em">
    Kasi Detectives
  </a>
</div>

<div class="sidebar-wrapper" style="background-color: #fd9c00">
  <ul class="nav">
    <li
      routerLinkActive="active"
      *ngFor="let menuItem of menuItems"
      class="{{ menuItem.class }} nav-item"
    >
      <a  style="color:#204969; font-size: 1.2rem; " [routerLink]="[menuItem.path]">
        <i style="color:white" class="tim-icons  {{ menuItem.icon}}"></i>
        <p style="color:#204969 ">{{ menuItem.title }} </p>
      </a>
    </li>
  </ul>
</div>
